body{
  background: #dce7b2;
}

h1{
    font-family: 'Mali', cursive;
    font-size: 85px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
p{
  color: #3848ED;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 600px;
  font-size: 20px;
  font-family: 'Niramit', sans-serif;
}

.clicking i{
  width: 300px;
  height: auto;
  font-size: 30px;
  color: #3c0b8f;
  font-family: 'Acme', cursive;
  position: relative;
  left: 100px;
}

.clicking .refresh{
  display: block;
  margin-bottom: 1px;
  margin-right: 2px;
  margin-left: auto;
  position: relative;
  float: right;
  padding-right: 100px;
}
.clicking .refresh button {
  width: 100px;
  height: 40px;
  background-color: #1B959E; /* Green */
  border-radius: 10%;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

body img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
  border-radius: 1.5%;
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.5), 0 12px 26px 0 rgba(0, 0, 0, 0.3);
}
